/* CSS file placeholder. */

textarea { 
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

button {
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  border: none;
  background: blue;
  box-shadow: 1px 1px 1px #0000FF;  
}

.rxOption {
  position: absolute;
  left: 300px;
  /*padding: 10px 0px 10px 0px;*/
}

.rxOptionRadioButtons {
  /*background-color: yellow;*/
  position: absolute;
  left: 400px;
  
}

/*Right align text*/
.statsCounter{
  /*background-color: green;*/
  width:98%; 
  display:inline-block;
  text-align:right;
}