/* CSS file placeholder. */

textarea { 
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

button {
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  border: none;
  background: blue;
  box-shadow: 1px 1px 1px #0000FF;  
}

.rxOption {
  position: absolute;
  left: 300px;
  /*padding: 10px 0px 10px 0px;*/
}

.rxOptionRadioButtons {
  /*background-color: yellow;*/
  position: absolute;
  left: 400px;
  
}

.optionTimeExample {
  position: absolute;
  left: 600px;  
}

/*Right align text*/
.statsCounter{
  /*background-color: green;*/
  width:98%; 
  display:inline-block;
  text-align:right;
}

/*
based on h2
http://www.w3.org/TR/html-markup/h2.html
*/
.customeHeadings {
  /*display: block;*/
  font-size: 1.5em;
  margin-top: 0.30em;
  margin-bottom: 0.50em;
  margin-left: 0.0em;
  margin-right: 0.0em;
  font-weight: bold; 
}
/*
let me scroll in Y
http://stackoverflow.com/questions/21979994/chrome-app-cannot-be-scroll
*/
html, body {
    overflow-y: visible;
}
